@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 95vh;
}

.btn-grad {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	transition: 0.5s;
	background-size: 200% auto;
	text-align: center;
	color: white;
	display: block;
}

.text-grad {
	background: -webkit-linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	transition: 0.5s;
}

.btn-grad:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}